.iconfont {
	display: inline-flex;
	align-items: center;
	flex-direction: row;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, pre, form, fieldset, 
legend, button, input, textarea, th, td { 
	margin:0; 
	padding:0; 
}
body, button, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-size: 24px / 1.5 ;
	// color:#000;
}

pre[class*="language-"]{
	padding: 0.7em;
}
// code{
// 	overflow: scroll;
// 	max-width: 100%;
//     display: inline-block;
// }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:Consolas,Menlo,Courier,monospace }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { 
	// text-decoration:none; 
	color: #c97373;
}
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 8px;
	height: 0px;
	&:end {
	    display: none;
	}
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    &:end {
        display: none;
    }
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0, 0, 0, 0.5);
}

