@import './assets/common/@common.less';

.mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 50;
    align-items: center;
    justify-content: center;
    animation: mask-show 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: forwards;
    animation: cant-touch 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    .tree {
        // transform-origin: -6px 182px 0px;
        animation: scale-top 0.3s cubic-bezier(0.19, -0.62, 0.74, 1.7);
        animation-fill-mode: forwards;
        height: 100vh;
        width: 100%;

        .header {
            user-select: none;
            background-color: rgb(152,14,12);
            color: #fff;
            height: 45px;
            display: flex;
            align-items: center;
            padding: 0 40px;
        }
        .body {
            height: calc(~'100% - 45px');
            display: flex;
            flex-direction: row;

            .body-side {
                flex: 3 0 384px;
                overflow-x: hidden;
                display: inline-flex;
                flex-direction: column;
                background-color: #fff;
                border-right: 1px solid #DFDFDF;

                svg {
                    font-size: inherit;
                }

                .text-container {
                    height: 60%;
                    flex: 5;
                    align-items: center;
                    display: inline-flex;
                    justify-content: flex-start;
                }
                .all {
                    font-size: 20px;
                    padding-left: 20px;
                    overflow-x: hidden;
                    height: 53px;
                    cursor: pointer;
                    display: inline-flex;
                    padding: 0px 8px;
                    overflow-y: hidden;
                    font-weight: bold;
                    align-items: center;
                    flex-direction: row;
                    color: RGBA(51, 51, 51, 1);
                    border-bottom: 1px solid #D9D9D9;

                    .checkbox {
                        position: relative;
                        margin: 0 10px;
                        width: 20px;
                        height: 20px;
                        
                        &:before{
                            position: absolute;
                            content: ' ';
                            width: 20px;
                            height: 20px;
                            box-sizing: border-box;
                            border: 1px solid #999;
                            border-radius: 3px;
                            font-size: 24px;
                            line-height: 10px;
                            text-align: center;
                            color: @daocheng-red;
                        }

                        &.allSelect:before {
                            content: '■';
                            line-height: 12px;
                        }
                    }
                }

                .tree-container > ol {
                    background-color: #F9F9F9;
                    & > li:nth-child(1){
                        background-color: #fff;
                        margin-left: -10px;
                    }
                    .checkbox {
                        position: relative;
                        margin: 0 10px;
                        width: 20px;
                        height: 20px;
                    }
                    & > li .checkbox:before{
                        position: absolute;
                        content: ' ';
                        width: 20px;
                        height: 20px;
                        box-sizing: border-box;
                        border: 1px solid #999;
                        border-radius: 3px;
                        font-size: 24px;
                        line-height: 10px;
                        text-align: center;
                        color: @daocheng-red;
                    }
                    & > li.halfSelect {
                        color: @daocheng-red;
                        .checkbox:before {
                            content: '◢';
                            line-height: 17px;
                        }
                    }
                    & > li.allSelect {
                        color: red;
                        .checkbox {
                            color: red;
                            &:before {
                                content: '■';
                                line-height: 12px;
                            }
                        }
                    }

                    & > ol > li .checkbox:before {
                        content: ' ';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        box-sizing: border-box;
                        border: 1px solid #999;
                        border-radius: 3px;
                        font-size: 24px;
                        line-height: 10px;
                        text-align: center;
                        color: @daocheng-red;
                    }
                    & > ol > ol > li .checkbox:before {
                        content: '⚫';
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                    }

                    // li.active :first-child {
                    //     color: red!important;
                    //     font-weight: bolder;
                    // }
                } 
                .tree-container {
                    color: RGBA(102, 102, 102, 1);
                    flex: 1;
                    font-size: 20px;
                    overflow-y: hidden;
                    user-select: none;
                    display: inline-flex;
                    flex-direction: column;
                    padding-right: 8px;
                    margin-right: -8px;
                    &:hover {
                        padding-right: 0px;
                        overflow-y: scroll;
                    }
                    span {
                        border-bottom: 1px solid #EEEEEE;
                        height: 44px;
                    }

                    ol {
                        display: flex;
                        flex-shrink: 0;
                        min-height: 45px;
                        overflow-y: hidden;
                        padding-left: 10px;
                        flex-direction: column;
                        margin: 0;

                        li {
                            padding-left: 20px;
                            cursor: pointer;
                            overflow-x: hidden;
                            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                            min-height: 45px;
                            font-weight: bold;
                            overflow-y: hidden;
                            align-items: center;
                            flex-direction: row;
                            display: inline-flex;

                            .text-container {
                                font-weight: 500;
                            }
                            &.active {
                                span {
                                    color: @daocheng-red;
                                }
                                & .checkbox::before {
                                    content: '■';
                                }
                            }
                        }
                    }

                }
            }
            .body-container {
                background-color: RGBA(245, 245, 245, 1);
                display: flex;
                flex: 7 0 768px;
                flex-direction: column;
                .table {
                    flex: 1;
                    display: flex;
                    font-size: 13px;
                    flex-direction: row;
                    justify-content: space-around;
                    .sec-table , .thr-table {
                        user-select: none;
                        &.thr-table {
                            flex: 1 10 500px;
                        }
                        margin: 10px;
                        border: 2px solid RGBA(224, 224, 224, 1);
                        border-radius: 5px;
                        .th , .tb {
                            text-align: center;
                            display: flex;
                            // padding: 0 10px;
                            align-items: center;
                            flex-direction: row;
                            justify-content: space-between;
                            .index {
                                flex: 0 0 110px;
                                display: inline-flex;
                                cursor: pointer;
                                user-select: none;
                                align-items: center;
                                justify-content: center;
                                input,label {
                                    margin: 0;
                                }
                            }
                            .num{
                                flex: 0 1 100px;
                            }
                            .name{
                                flex: 1 0 auto;
                            }
                            .empty-btn {
                                flex: 0 0 92px;
                                font-weight: bold;
                                cursor: pointer;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                color: rgb(152,14,12);
                                .icon {
                                    width: 20px;
                                }
                            }
                            .empty {
                                margin: 0 25px;
                                font-weight: bold;
                                cursor: pointer;
                                display: inline-flex;
                                align-items: center;
                                flex: 0 0 15px;
                                line-height: 18px;
                                height: 15px;
                                border: 2px solid;
                                justify-content: center;
                                color: rgb(152,14,12);
                            }
                            &.tb {
                                height: 44px;
                                font-size: 18px;
                                color: RGBA(51, 51, 51, 1);
                            }
                            &.th {
                                color: RGBA(79, 79, 79, 1);
                                height: 48px;
                                background-color: RGBA(224, 224, 224, 1);
                                position: relative;
                                font-size: 16px;
                            }
                        }
                        .tb-container {
                            counter-reset: my-sec-counter;
                            height: calc(~'100% - 50px');
                            background-image: 
                                repeating-linear-gradient(
                                    to bottom,
                                    transparent,
                                    transparent 44px, #f9f9f9 44px, #f9f9f9 88px
                                );
                            overflow: hidden;
                            padding-right: 8px;
                            &:hover {
                                padding-right: 0;
                                overflow-y: scroll;
                            }
                            input {
                                outline: none;
                            }
                            label {
                                margin-bottom: 0;
                                font-weight: 500;
                            }
                            .index:before {
                                /* Increment "my-sec-counter" by 1 */
                                counter-increment: my-sec-counter;
                                content: counter(my-sec-counter);
                            }
                        }
                    }
                }
    
                .group-btn {
                    margin: 0 10px;
                    display: flex;
                    justify-content: flex-end;
                    height: 45px;
                    align-items: flex-start;
                }
            }
        }
    }
}
